* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #2c3e50;
}

header {
    background: #2ecc71;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    border-radius: 27px;
}

h1 {
    margin-bottom: 10px;
    color: white;
    background-color: #2c3e50;
    text-align: center;
    border-radius: 8px;
    padding: 12px 12px 12px 12px;
}

.card {
    margin: auto;
    margin-top: 10px;
    width: 400px;
    max-width: 90%; /* Changed for responsiveness */
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] { /* Adjusted for password input */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] { /* Changed to match the button style */
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #3498db;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold; /* Make the font bold */
}

button[type="submit"]:hover {
    background: #2980b9;
}

/* Additional styles for signup and forgot password buttons */
button[type="submit"].signup,
button[type="submit"].forgot-password {
    color: white; /* Make the font white */
    font-weight: bold; /* Make the font bold */
    margin-top: 15px; /* Add some space between buttons */
}

button[type="submit"].signup:hover,
button[type="submit"].forgot-password:hover {
    opacity: 0.9; /* Reduce opacity on hover */
}
p{
    font-weight: bold;
    color:#2ecc71;
}

a{
    color:#2ecc71;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .card {
        max-width: 350px;
    }
}
